
@{
    ViewBag.Title = "SpecialProduct";
}

<div class="border_box">
    <div class="product_title"><a href="@Url.Action("Details","Product")">Motorola 156 MX-VL</a></div>
    <div class="product_img"><a href="@Url.Action("Details","Product")"><img src="@Url.Content("~/Content/images/laptop.png")" alt="" border="0" />></a></div>
    <div class="prod_price"><span class="reduce">350$</span> <span class="price">270$</span></div>
</div>

