
@{
    ViewBag.Title = "Newsletter";
}

<div class="border_box">
    <input type="text" name="newsletter" class="newsletter_input" value="your email" />
    <a href="http://all-free-download.com/free-website-templates/" class="join">join</a>
</div>

