
@{
    ViewBag.Title = "Index";
}

<div class="top_search">
    <input type="text" class="search_input" name="search" />
    <a href="#"><img src="@Url.Content("~/Content/images/search-icon.png")" alt="" border="0" width="25" height="25" /></a>
</div>

