@model List<TDMT_DOAN.Models.ViewModels.CartSession>

@{
    ViewBag.Title = "CartContent";
}

  <!--Table detail-->
<table class="table_cart">
    <tr>
        <th>STT</th>
        <th>Sản phẩm</th>
        <th>Số lượng</th>
        <th>Giá tiền</th>
        <th>Tổng tiền</th>
        <th>Xóa</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
        <td>1</td>
        <td><a href="#"  ><img width="50" style="overflow:hidden" height="70" src="@Url.Content("~/Content/images/PK001.jpg")" alt="iphone" /><br />@item.sp.TEN</a></td>
        <td><input type="number" name="numericInput" style="width: 50px;" min="1" max="100" value="1" /></td>
        <td>@item.sp.DONGIABAN</td>
        <td>16.000.000 VNĐ</td>
        <td><input type="checkbox" /></td>
    </tr>
    }
  
</table>



<div> Tổng tiền cần thanh toán: 16.000.00 VNĐ </div>



