@{
    ViewBag.Title = "Index";
}

<div class="shopping_cart">
    <div class="cart_title">Giỏ hàng</div>
    <div class="cart_details">
        3 items <br />
        <span class="border_cart"></span> Tổng: <span class="price">350$</span>
    </div>
    <div class="cart_icon"><a href="@Url.Action("CartContent","Cart")" title="header=[Xem giỏ hàng] body=[&nbsp;] fade=[on]"><img src="@Url.Content("~/Content/images/shoppingcart.png")" alt="" width="48" height="48" border="0" /></a></div>
</div>
