@{
    ViewBag.Title = "forgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model TDMT_DOAN.Models.ForgotPasswordViewModel

<div class="center_content">
    <section class="container_login">
        <div class="login">
            <h1>Quên mật khẩu</h1>
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })
                @Html.AntiForgeryToken()

                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email", @type = "email", @required = "required" })

                <p class="submit_login"><input type="submit" name="commit" value="Send"></p>
            }
        </div>
    </section>
</div>

