@{
    ViewBag.Title = "SignUpSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin-top:150px;margin-left:20%;font-size:14pt">Bạn đã đăng kí tài khoản thành công</h2>
<a href="@Url.Action("Login", "Account")" class="login_now">Đăng nhập ngay</a>

